<div class="se-pre-con-digital" ng-show="loadingPage"></div>
<div class="authentication-bg bg-primary authentication-bg-pattern d-flex align-items-center pb-0 vh-100">
    <div class="account-pages w-100 mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mb-0">

                        <div class="card-body p-4">

                            <div class="account-box">
                                <div class="text-center account-logo-box">
                                    <div>
                                        <a href="javascript:void(0);">
                                            <img src="assets/images/logo-dark.png" alt="" height="30">
                                        </a>
                                    </div>
                                </div>
                                <div class="account-content mt-4">
                                    <div class="text-center">
                                        <p class="text-muted mb-0 mb-3">Saisissez votre adresse e-mail donn&eacute; lors de votre inscription pour réinitialiser votre mot de passe.  </p>
                                    </div>

                                    <div class="alert alert-icon alert-warning bg-transparent text-warning alert-dismissible fade show mt-3" role="alert" data-ng-show="found">
                                        <i class="mdi mdi-information-outline mr-2"></i>
                                        <strong>NB :</strong> Le code d'autorisation a &eacute;t&eacute; envoy&eacute; au num&eacute;ro 2250x-xxx-xx{{items.telephone.substr(8)}} indiqu&eacute; lors de la cr&eacute;ation de votre profil.
                                    </div>

                                    <form class="form-horizontal" action="javascript:void(0);">

                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label for="emailaddress">Email address <span class="text-danger">*</span></label>
                                                <input class="form-control text-lowercase" data-ng-disabled="found" name="email" data-ng-model="items.email" type="email" id="emailaddress" placeholder="john@deo.com">
                                            </div>
                                        </div>

                                        <div class="form-group row" data-ng-if="found">
                                            <div class="col-12">
                                                <label for="otpCode">Code OTP d'autorisation</label>
                                                <input type="text" class="form-control" id="otpCode" data-ng-model="items.codeOTP" name="otpCode" ui-mask="999-999" >
                                            </div>
                                        </div>

                                        <div class="form-group row text-center mt-2">
                                            <div class="col-12" data-ng-if="!found && items.email">
                                                <button data-ng-click="checkingUserdata()" class="btn btn-md btn-block btn-primary waves-effect waves-light" type="button">Demander Code d'autorisation</button>
                                            </div>
                                            <div class="col-12" data-ng-if="found && items.email && items.codeOTP">
                                                <button data-ng-click="resetPassword()" class="btn btn-md btn-block btn-primary waves-effect waves-light" type="button">Reset Password</button>
                                            </div>
                                        </div>

                                    </form>

                                    <div class="clearfix"></div>

                                    <div class="row mt-4" data-ng-if="!found">
                                        <div class="col-sm-12 text-center">
                                            <p class="text-muted mb-0">Retour à <a data-ui-sref="login" class="text-dark ml-1"><b>la page de connexion</b></a></p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- end card-box-->
                        </div>

                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end row -->
        </div>
    </div>

</div>