<style>
    .modal-dialog {
        width: 46%;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-ng-click="fermer()"
            aria-label="Close">
        <span aria-hidden="true"  title="Fermer">&times;</span>
    </button>
    <h5 class="modal-title textTransform text-uppercase" >Notificateur</h5>
</div>

<div class="modal-body card-box mb-0">

    <div class="row">
        <div class="col-md-12 pl-0 pr-0">
            <p class="sub-header p-0 m-0 mb-2 text-justify font-15">
                <strong>Di-Gital web : </strong> Pour une meilleur relation cliente, quelle type de notification sms souhaitez-vous envoy&eacute; aux diff&eacute;rents acteur du processus?
            </p>
        </div>
    </div>

    <div class="center text-center">
        <div class="row">
            <div class="col-md-3 pl-0 text-left">
                <button type="reset" class="btn btn-outline-secondary btn-rounded text-uppercase waves-effect waves-light pr-4 pl-4 btn-md"
                        data-ng-click="fermer()">
                    <span>Fermer</span>
                </button>
            </div>

            <div class="col-md-9 text-right pr-0">
                <button type="button" class="btn btn-warning btn-rounded waves-effect text-uppercase
                    width-md waves-light mr-4 pr-4 pl-4 btn-md"
                        data-ng-click="sendMessage('Livreur-Arrivé')">
                    <span>Livreur Arriv&eacute;</span>
                </button>
                <button type="button" class="btn btn-primary btn-rounded waves-effect text-uppercase
                    width-md waves-light mr-0 pr-4 pl-4 btn-md"
                        data-ng-click="sendMessage('Remerciement')">
                    <span>Remerciement</span>
                </button>
            </div>
        </div>
    </div>

</div>