<div class="se-pre-con-digital" ng-show="loadingPage"></div>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">e-Module</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Gestion Livraison</a></li>
                    <li class="breadcrumb-item active">Delivery Apps</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div class="form-row p-0">
                <div  class="col-md-12 p-0">
                    <h4 class="header-title"><b>Delivery Module</b></h4>
                    <p class="sub-header">
                        Systeme de Gestion centralisé et Livraison de colis
                    </p>
                </div>
            </div>

            <div class="row">
                dlfjlk dfjdl
            </div>
        </div>
    </div>
</div>