<div class="autocomplete" style="width: 92%;">
    <input class="inputtext form-control" type="text" ng-model="enteredtextZ" placeholder="..." ng-keyup="filterItemsZ()"/>
    <div class="choicesZ" style="max-height: 100px;overflow-y: auto;position: absolute;width: 92%;border: 1px solid #e1e3e5; z-index: 99 !important;"
         ng-show="isVisibleZ.suggestions">
        <div class="choice form-control-autocomplete" ng-repeat="x in filteredListZ"
             ng-click="selectItemZ(x.index)">{{x.label}}</div>
    </div>
</div>