<div class="modal-header">
    <button type="button" class="close" data-ng-click="fermer()"
            aria-label="Close">
        <span aria-hidden="true"  title="Fermer">&times;</span>
    </button>
    <h5 class="modal-title textTransform" >{{ titleFrm }}</h5>
</div>

<div class="modal-body card-box mb-0">
    <form role="form"  name="addItem" data-ng-submit="submitForm(addItem.$valid)" novalidate>
        <p class="sub-header p-0 m-0 text-right">
            <code>(*)</code> Champs au informations requises ou obligatoires
        </p>

        <fieldset id="default-wizard-step-0" class="stepy-step">
            <legend>Information compte bancaire</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="banque">Nom de la Banque <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="mdi mdi-file"></i></span>
                            </div>
                            <select id="banque" class="form-control custom-select" style="cursor: pointer" required
                                    data-ng-model="items.banque" name="banque"
                                    data-ng-options="donne as donne.nomBanque for donne in findAllBanqueListe | orderBy:'nomBanque' track by donne.nomBanque">
                                <option value="" selected>- Choisissez une valeur -</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numeroDeCompte">Num&eacute;ro de compte bancaire <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="mdi mdi-file"></i></span>
                            </div>
                            <input type="text" class="form-control" id="numeroDeCompte" name="numeroDeCompte"
                                   data-ng-minlength="3" required
                                   ui-mask="99999-999999999999-99"
                                   data-ng-model="items.numeroDeCompte">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset id="default-wizard-step-1" class="stepy-step">
            <legend>Information Gestionnaire</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nomGestionnaire">Nom Gestionnaire</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="mdi mdi-account"></i></span>
                            </div>
                            <input type="text" class="form-control" id="nomGestionnaire" name="nomGestionnaire"
                                   data-ng-minlength="2" placeholder="..."
                                   data-ng-model="items.nomGestionnaire">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contactGestionnaire">Num&eacute;ro T&eacute;l&eacute;phone</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="mdi mdi-phone"></i></span>
                            </div>
                            <input type="text" class="form-control text-uppercase" id="contactGestionnaire"
                                   data-ng-model="items.contactGestionnaire" name="contactGestionnaire" ui-mask="99-99-999-999" >
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="form-group mb-0 mt-3">
            <div class="center text-center">
                <button type="button" class="btn {{style}} btn-rounded waves-effect text-uppercase
                width-md waves-light mr-2 pr-4 pl-4 btn-md" data-ng-disabled="addItem.$invalid"
                        data-ng-click="saveCompteBancaire()">
                    <span>{{nomBtn}}</span>
                </button>
                <button type="reset" class="btn btn-outline-secondary btn-rounded text-uppercase waves-effect waves-light pr-4 pl-4 btn-md"
                        data-ng-click="fermer()">
                    <span>Fermer</span>
                </button>
            </div>
        </div>
    </form>
</div>