<div class="se-pre-con-digital" ng-show="loadingPage"></div>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Module Livraison</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Livraison</a></li>
                    <li class="breadcrumb-item active">Mise en place du Bon de Livraison (BL)</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<!-- Basic Form Wizard -->
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div class="form-row p-0">
                <div  class="col-md-9 p-0">
                    <h4 class="header-title"><b>Livraison</b></h4>
                    <p class="sub-header">
                        Liste des Bon de Livraisons (BL) enregistr&eacute;s
                    </p>
                </div>
                <div  class="col-md-3 text-right p-0">
                    <button type="button" class="btn btn-primary btn-rounded width-md waves-effect waves-light"
                            data-ng-click="openFrmBonLivraison($event,'')">
                        <i class="fas fa-plus mr-1"></i>
                        Ajouter un nouveau bon de livraison
                    </button>
                </div>
            </div>

            <div class="row">
                <table id="datatable" data-datatable="ng" data-dt-options="dtOptions" data-dt-column-defs="dtColumnDefs"
                       class="table table-bordered dt-responsive nowrap"
                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th style="width: 70px">R&eacute;f.</th>
                        <th>Nom & Pr&eacute;noms Destinatiare</th>
                        <th>Contact</th>
                        <th>Livreur</th>
                        <th>Montant Colis</th>
                        <th>Frais de livraison</th>
                        <th>Lieu de Livraison</th>
                        <th>Statut</th>
                        <th style="width: 100px"> Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="item in datas track by $index">
                        <td>
                            <a href="javascript:void(0);" data-ng-click="openFrmDetailsLivraison($event,item)">
                                {{item.reference}}
                            </a>
                        </td>
                        <td class="text-left">{{item.nomPrenomsDestinataire}}</td>
                        <td class="text-center">{{item.contactDestinataire}}</td>
                        <td class="text-center">{{item.livreur.nomPrenoms}}</td>
                        <td class="text-center">{{item.montantColis | formatMillier}} F.CFA</td>
                        <td class="text-center">{{item.prixLivraison | formatMillier}} F.CFA</td>
                        <td class="text-center">{{item.zoneLivraison.zoneCouverture}}</td>
                        <td class="text-center">{{item.statutLivraison}}</td>
                        <td>
                            <a href="javascript:void(0);" data-ng-click="openFrmBonLivraison($event, item)"
                               class="btn btn-outline-primary btn-rounded waves-effect waves-light btn-sm mr-3">
                                <i class="fa fa-edit mr-1"></i> {{item.statutLivraison == 'LIVRE' ? "D&eacute;tails" : "Modifier"}}
                            </a>

                            <a href="javascript:void(0);" ng-show="item.active" data-ng-click="actionOneItemBonLivraison($event,item, 1)"
                               class="btn btn-outline-danger btn-rounded waves-effect waves-light btn-sm">
                                <i class="fa fa-trash mr-1"></i> Supprimer
                            </a>

                            <a href="javascript:void(0);" ng-show="!item.active" data-ng-click="actionOneItemBonLivraison($event,item, 2)"
                               class="btn btn-outline-info btn-rounded waves-effect waves-light btn-sm">
                                <i class="fa fa-recycle mr-1"></i> Activer
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End row -->